body {
  background-color: #efefef;
}
p {
  background-color: white;
  font-size: 2em;
}
.squirrel-1 {
  font-family: KingthingsVersalisRegular;
}
.squirrel-2 {
  font-family: NoticeNotice;
}
.squirrel-3 {
  font-family: AquilineRegular;
}
.squirrel-4 {
  font-family: LobsterTwoRegular;
}
.google-1 {
  font-family: Megrim;
}
.google-2 {
  font-family: Pompiere;
}

