$white: #fefeff;

$mono: "DejaVu Sans Mono", "Consolas", monospace;
$sans: "Open Sans", "Ubuntu", sans;

body {
  font-family: $mono;
  background-color: $white;
}

.page {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  font-family: $mono;
  border-bottom: 2px solid #454545;
  margin-bottom: 1em;
  padding-bottom: 1em;
  h1, h2, h3 {
    margin: 0;
    display: inline;
  }
  h2, h3 {
    font-weight: normal;
  }
  img {
    float: right;
    height: 5em;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Consolas", monospace;
}

.version {
}

.content {
  p {
    text-align: justify;
  }
}

p, pre {
  margin-left: 1em;
}

table {
	font-size: 1.2em;
  padding: 0;
  width: 100%;
  margin-bottom: 1em;
}

.table-half {
  float: left;
  width: 512px;
}

a {
  text-decoration: none;
  background-color: #F8F8D2;
  color: #191919;
}
a:visited {
  color: #454545;
}

tr {
  margin: 0;
}
tr.list {
	text-align: right;
  display: inline-block;
}

td {
  margin: 0;
	background-color: white;
  padding-left: 0.5em;
}

th {
  width: 1%;
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 0.5em;
	text-align: right;
}

.pagination-example {
  clear: left;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #454545;
}

.code {
  font-family: $mono;
}

caption {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}

.squirrel-1 {
  font-family: KingthingsVersalisRegular;
}
.squirrel-2 {
  font-family: NoticeNotice;
}
.squirrel-3 {
  font-family: AquilineRegular;
}
.squirrel-4 {
  font-family: LobsterTwoRegular;
}
.google-1 {
  font-family: Megrim;
}
.google-2 {
  font-family: Pompiere;
}

.aw-page {
  margin-top: 1em;
  margin-bottom: 1em;
}

.aw-page-title {
  display: inline;
  font-size: 1.2em;
  padding-right: 1em;
}

.aw-page-date, .aw-page-tags, .aw-page-section {
  font-size: 0.9em;
}

.aw-page-preview {
  margin-top: 0.75em;
}

.aw-debug-page {
  font-size: 0.8em;
  width: 45%;
  float: right;
}

.page-content {
  width: 50%;
  float: left;
}

.aw-debug-subheading {
  padding-top: 1.5em;
  padding-bottom: 0.6em;
  text-align: center;
}

