<div class="header-bar superheader">
  <div class="centerer">
    <%= @helper.list_pages %>
  </div>
</div>

<div class="header">
  <div class="centerer flexer">
    <a href="/"><%= @site.img('logo.png', klass: 'logo') %></a>
    <h1 class="title"><a href="/"><span class="ark">ARK</span><span class="web">WEB</span>&ensp;Example Site</a></h1>
  </div>
</div>

<div class="header-bar subheader">
  <div class="centerer">
    <%= @helper.trail('&ensp;&#10145;&ensp;') %>
  </div>
</div>

<div class="content">
  <div class="centerer">
    <%= @body %>
  </div>
</div>

